
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary: rebeccapurple;
    --light: #fff;
    --dark: #333;
    --shadow: 2px 2px 1.5px rgba(0,0,0,.3);

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
}

.repo{
    font-weight: bold;
    font-size: 1.3rem;
    position: fixed;
    top:20px;
    right:20px;
    background:var(--dark);
    padding: 1rem;
    border-radius: 4px;
    opacity: .8;
}
.repo:hover{
    opacity: 1;

}
.repo a{
    color: var(--light);

}
/* Start styling */


.carousel{
    overflow: hidden;

    height: 500px;
    width: 500px;
    /* border-radius:10px; */
    box-shadow: var(--shadow);
}

.image-container{
    display: flex;
    transition: transform 0.3s linear;
transform: translateX(0);
}

img{

    object-fit: cover;
    height: 500px;
    width: 500px;
    border-radius:10px;
     /* margin-left: 10px; */
}






/* footer style */
footer{
    position: absolute;
    bottom: 20px;
    background: var(--dark);
    color:var(--light);
    padding: 1rem;
    border-radius: 4px;
}

footer span{
    color: orchid;
    font-weight:bold;
}